@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3; /* base color for text/focus shadows */
  --color-secondary: teal;
}

/* 🟣 Custom gradient button */
.btn-primary {
  /* background: linear-gradient(90deg, #06ca47 0%, #c6dbcb 100%); */
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
 
}

.btn-primary:hover {
  background-color: #065f46; /* green-800 */
  transform: scale(1.05); /* optional: subtle zoom on hover */
}
